<h1>Add a new task</h2>

<div class="container">
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>
</div>

<p class="border-top p-3"><%= link_to "Back to list", tasks_path() %></p>
